<article>
  <h1>This is a static page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget justo eros. Vestibulum a elit mauris. Phasellus fringilla ultrices risus, at elementum neque convallis vel. In non fermentum tellus. Vestibulum scelerisque volutpat laoreet. Praesent quis velit a nibh pretium dapibus vel pulvinar velit. Cras nibh libero, varius eu odio sit amet, ultrices euismod ipsum. Morbi ac efficitur magna, sit amet placerat dolor. Praesent faucibus feugiat odio, venenatis placerat arcu elementum et. Phasellus ac eros id nunc finibus fermentum. Donec dictum est et risus lobortis, vel posuere magna ultricies. Sed magna lorem, ullamcorper a ligula at, aliquam aliquet lacus. Mauris ullamcorper ac massa congue sollicitudin. Suspendisse et augue ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
</article>
